.ant-btn {
  height: 40px;
  width: 150px;
  border-radius: 0;
  font-weight: bold;
  font-size: 14px;
}

.ant-btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.ant-btn-primary:hover, .ant-btn-primary:focus, .ant-btn-primary:active {
  color: #fff;
  background-color: #000000cc;
  border-color: #000000cc;
}

.ant-table-pagination.ant-pagination {
  float: none;
  text-align: center;
}

.ant-input-group-wrapper.searchBox {
  width: 30%;
}
.ant-input-group-wrapper.searchBox .ant-btn {
  width: 70px;
}